.wrapperContacts{
    padding: 2.5rem 1.5rem;
}
.containerContacts{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.titleContacts{
    color: var(--color-title);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 6rem;
}

.containerImags{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.containerSVG{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-background-project);
    padding: 1.3125rem 1.125rem;
    margin-top: 2.25rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.219);
    transition: all 0.5s;
}

.containerSVG:hover{
    transform: translateY(-1rem);
}

.iconContacts{
    width: 5rem;
}
@media (min-width: 969px){
    .wrapperContacts{
        padding: 1.5rem 4rem;
    }
}