.containerAboutMe{
    margin-top: 4.5rem;
}

.titleAboutMe{
    font-size: 1.5rem;
    color: var(--color-title);
    font-weight: 600;
}

.textAboutMe{
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--color-text);
    margin-top: 1.25rem;
    display: flex;
    gap: 1rem;
    margin-left: -1.1875rem;
    line-height: 26px;
}

.border{
    padding: 3px;
    height: 116px;
    background-color: #5222D0;
    border-radius: 2px;
}

@media (min-width: 969px){
    .border{
        height: auto;
        border-radius: 0.62pxpx;
    }
}